{% extends 'base.html' %}

{% block content %}

  <h1 class="is-size-3">Editar Nota: {{ note.title }}</h1>

  <form action="{{ url_for('note_update', note_id=note.id) }}" method="post">
    <div class="field">
      <label class="label" for="title">Titulo</label>
      <div class="control">
        <input name="title" value="{{ request.form['title'] or note.title }}" class="input"></input>
      </div>
    </div>

    <div class="field">
      <label class="label" for="body">Descripcion (Supports Markdown)</label>
      <div class="control">
        <textarea name="body" class="textarea has-text-monospaced">{{ request.form['body'] or note.body }}</textarea>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <input type="submit" value="Modificar Nota" class="button is-primary" />
      </div>
      <div class="control">
        <a href="{{ url_for('note_index') }}" class="button is-text">Cancelar</a>
      </div>
    </div>
  </form>

{% endblock %}
